div.recommendProduct {
  height: 3.73rem;
  width: 100%;
  border-top: .15rem solid #f5f5f5;
  padding-top: .21rem;
  background-color: white;
  h2 {
    height: .45rem;
    line-height: .45rem;
    font-size: .15rem;
    color: #333;
    text-align: center;
  }
  h3 {
    height: .31rem;
    line-height: .31rem;
    font-size: .11rem;
    color: #808080;
    text-align: center;
  }
  img {
    width: 3.45rem;
    margin: .16rem auto 0;
  }
}
