div.homeHeader {
  height: .46rem;
  width: 100%;
  display: flex;
  align-items: center;
  h1 {
    margin: 0 .1rem;
    img {
      width: .65rem;
    }
  }
  input {
    width: 2.7rem;
    height: .28rem;
    background-color: #f5f5f5;
    border-radius: .14rem;
    border: 0;
    padding-left: .35rem;
    background-image: url("/imgs/league/searchIcon-e.png");
    background-repeat: no-repeat;
    background-position: .09rem center;
    background-size: .2rem .2rem;
  }
}
