
body,h1,h2,h3,h4,h5,h6,ul,ol,li,dd,dt,p,a,span,input,select,button,header,footer,nav,aside,article,main,figure
,figcaption,i {padding: 0;margin: 0;}

html,body {
  height: 100%;
}

html {
  font-size: 26.6667vw;
}

body {
  font-size: 16px;
  font-family: "微软雅黑";
  color: #333;
}

ul,ol {
  list-style: none;
}

input,select,button {
  outline: none;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
  /*touch-action: none;*/
}




